[submodule "Card_Studio/Data/Cards"]
	path = Card_Studio/Data/Cards
	url = git://github.com/IncludeMori/Cardgame_W-Cards.git
[submodule "Card_Studio/Data/Cards_Png"]
	path = Card_Studio/Data/Cards_Png
	url = git://github.com/IncludeMori/Cardgame_W-Cards-PNG-.git
