################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Card_Studio/v15
/Card_Studio/Debug
/Debug
/Card_Studio/Release
